@model List<ManageYourSelfMVC.ViewModels.Dictionary.VMDictionary>

<!---------------------------------------------------------------------------------------->
<div class="table-responsive">

    <table class="table" style="direction:rtl; text-align: center;font-size:11px;">
        <thead>
            <tr style="color: white;background-color: #3a0b0b;font-weight: bold;">
                <th>eng</th>
                <th>per</th>
                <th>Up</th>
                <th>Down</th>
                <th>eye</th>
                <th>NewExa</th>
                <th>Edit</th>

                <th>level</th>
                <th>IsArchieve</th>
                <th>cambridge</th>
                <th>DateRefresh</th>
                <th>Success</th>
                <th>UnSuccess</th>
                @*<th>RemoveExa</th>*@
                <th>Remove</th>


            </tr>
        </thead>
        <tbody id="myTable">
            @{ int i = 0;}
            @foreach (var item in Model)
            {
                i += 1;
                <tr WordId="@item.id" style="background-color:black;color:white;font-size: 14px;white-space:nowrap">
                    <td onclick="MakeSound2(this)">@item.eng</td>
                    <td onclick="ShowAndHiddenPersian(@item.id)"><span class="per_@item.id" hidden>@item.per</span></td>
                    <td><button style='color:green' class='btn btn-danger pointer LevelEngUp' data_id="@item.id"></button></td>
                    <td><button style='color:green' class='btn btn-success pointer LevelEngDown' data_id="@item.id"></button></td>
                    @if (item.HasExample > 0)
                    {
                        <td><span class="fa fa-eye ShowExample pointer" style='color:green' onclick="ShowAndHiddenExample(@item.id,'@item.eng')" data_id="@item.id"></span></td>
                    }
                    else
                    {
                        <td><span class="fa fa-eye-slash ShowExample pointer" style='color:yellow' onclick="ShowAndHiddenExample(@item.id,'@item.eng')" data_id="@item.id"></span></td>
                    }
                    <td><span style='color:dodgerblue' class='fa fa-list-alt btnExa pointer' data_id="@item.id"></span></td>

                    <td><span style='color:purple' class='fa fa-edit pointer EditWord' data_id="@item.id"></span></td>

                    <td class="level">@item.level</td>
                    @if (item.IsArchieve == true)
                    {
                        <td><button style='color:green' class='btn btn-default pointer ArchieveWord' data_id="@item.id"></button></td>
                    }
                    else
                    {
                        <td><button style='color:red' class='btn btn-info pointer ArchieveWord' data_id="@item.id"></button></td>
                    }
                    <td>
                        <a target="_blank" href="https://dictionary.cambridge.org/dictionary/english/@item.eng">cambridge</a>
                        |
                        <a target="_blank" href="https://translate.google.com/?hl=en&tab=wT#view=home&op=translate&sl=en&tl=fa&text=@item.eng">google</a>
                    </td>
                    <td class="dateCol">
                        <span style="padding-right:10px">@item.date_refresh</span>

                       

                    </td>
                    <td>@item.SuccessCount</td>
                    <td>@item.UnSuccessCount</td>
                    @*<td><span style='color:deeppink' class='fa fa-trash pointer' data_id="@item.id"></span></td>*@
                    <td><span style='color:mediumvioletred' class='fa fa-remove RemoveWord pointer' data_id="@item.id"></span></td>
                </tr>
                foreach (var itemExample in item.lstExample)
                {
                    <tr class="examples_@item.id" hidden style="background-color:#d6d5c7;color:black;text-align:left;white-space: pre-line;">
                        <td class="Examplecls" colspan="14" style="direction:ltr" data_id="@item.id" ExampleId="@itemExample.id">
                            <span class="ExampleSound">@itemExample.example</span>
                            <p>
                                <button style='color:black' class='fa fa-edit pointer ShowEditExample' ExampleId="@itemExample.id">Edit</button><span> | </span><button onclick="MakeSoundExample(this)" style='color:black' class='fa fa-soundcloud pointer' ExampleId="@itemExample.id">Sound</button><span> | </span><button style='color:black' class='fa fa-remove pointer RemoveExampleEng' ExampleId="@itemExample.id">Delete</button><span> | </span><a target="_blank" href="https://translate.google.com/?hl=en&tab=wT#view=home&op=translate&sl=en&tl=fa&text=@itemExample.example">google</a>
                            </p>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
@*<script>
        $(".table-responsive .dateCol .calDayOfWeek").remove();

        $(".table-responsive .dateCol").each(function () {

            var today = moment().format('jYYYY/jM/jD');//Today
            var diffDays = showDays(today, $(this).text());
            var dayOfWeek = calDayOfWeek($(this).text())
            $($(this).append("<span class='calDayOfWeek' style='color:red;padding-right:10px'>" + diffDays + "</span>"));
            $($(this).append("<span class='calDayOfWeek' style='color:red;padding-right:10px'>" + dayOfWeek + "</span>"));


        });
    </script>*@
